.center-container {
    position : relative;
    margin   : 0 auto;
    width    : 1170px;
}

header {
    height     : 147px;
    background : #fff;
}

.header-logo {
    background : url("../images/web/logo.png");
    width      : 226px;
    height     : 33px;
    margin-top : 58px;
    float      : left;
}

.live-chat {
    float      : right;
    position   : relative;
    margin-top : 39px;
    width      : 284px;
}

.live-title {
    font-size : 12px;
}

.live-chat-btn, .live-chat-content {
    float      : left;
    text-align : center;
}

.live-chat-btn {
    margin-top  : 19px;
    width       : 123px;
    height      : 41px;
    line-height : 41px;
    font-weight : bold;
    cursor      : pointer;
    color       : rgba(0, 0, 0, 0.8);
    position    : relative;
    z-index     : 1;
    overflow    : hidden;
}

.live-chat-btn:before {
    content       : '';
    display       : block;
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    background    : #ffe13e;
    z-index       : -1;
    transition    : left 0.3s ease-in-out;
    border-radius : 4px;
}

.live-chat-content {
    position      : relative;
    margin-top    : 22px;
    height        : 35px;
    margin-left   : 22px;
    border-left   : 1px solid rgba(0, 0, 0, 0.4);
    line-height   : 35px;
    padding-left  : 21px;
    padding-right : 10px;
    font-size     : larger;
    transition    : all .3s ease;
}

.live-chat-btn:hover + .live-chat-content {
    outline     : 1px solid rgba(0, 0, 0, 0.3);
    box-shadow  : 2px 3px 14px rgba(0, 0, 0, 0.3), -2px -3px 14px rgba(0, 0, 0, 0.3);
    border-left : none;
}

.live-chat-content:before {
    content       : "";
    display       : block;
    position      : absolute;
    top           : 0;
    left          : -115px;
    width         : 100%;
    height        : 100%;
    background    : #e8645a;
    z-index       : -1;
    border-radius : 4px;
}

/*.live-chat-btn:hover + .live-chat-content:before {
    left: 10px;
    color: #fff;
}*/

.header-nav {
    height      : 147px;
    float       : left;
    margin-left : 103px;
    padding-top : 60px;
}

.header-nav li {
    height        : 42px;
    width         : auto;
    float         : left;
    margin-right  : 34px;
    transition    : all 0.3s ease-in-out;
    border-radius : 4px;
    padding       : 14px 8px;
}

.header-nav li:last-of-type {
    margin-right : 0;
}

.header-nav li a {
    color      : #000;
    transition : color .3s ease-in-out;
}

.header-nav li:hover a {
    color : #fff;
}

.header-nav li:hover {
    background : #e8645a;
    height     : 47px;
}

.banner {
    position        : relative;
    background      : url("../images/web/banner-main.png") no-repeat;
    /*background-position-y: -147px;*/
    height          : 795px;
    background-size : 100% 100%;
}

.banner:before {
    content    : '';
    display    : block;
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : url("../images/web/banner-shade.png");
}

.banner h1, .banner h3 {
    text-align : center;
    color      : #fff;
    position   : relative;
    top        : 231px;
}

.banner h3 {
    line-height : 84px;
}

.banner * {
    z-index : 999;
}

.banner-share {
    padding-left : 534px;
    position     : relative;
    top          : 293px;
}

.banner-input {
    width      : 570px;
    height     : 92px;
    background : #ccc;
    position   : relative;
    top        : 333px;
    padding    : 19px 17px;
}

.domain-name {
    height       : 55px;
    width        : 274px;
    border       : none;
    padding-left : 26px;
    background   : #fff;
    font-weight  : bold;
    color        : #000;
    float        : left;
}

label[for=domain-name] {
    position     : relative;
    height       : 55px;
    width        : 85px;
    padding-left : 24px;
    line-height  : 55px;
    background   : #ffe13e;
    border-right : 1px solid #fff;
    font-size    : 20px;
    float        : left;
    overflow     : hidden;
}

label[for=domain-name]:before {
    content    : "";
    display    : block;
    position   : absolute;
    top        : 26px;
    right      : 16px;
    background : url("../images/web/arrow-down.png");
    width      : 16px;
    height     : 9px;
    transition : transform .3s ease-in-out;
}

label[for=domain-name]:hover:before {
    transform : translateY(30px);
}

.check {
    height       : 55px;
    width        : 152px;
    line-height  : 55px;
    background   : #ffe13e;
    padding-left : 18px;
    float        : right;
    color        : #fff;
    cursor       : pointer;
}

.label-list {
    width            : 110px;
    position         : absolute;
    left             : 291px;
    top              : 74px;
    background       : #fff;
    height           : 0;
    overflow         : hidden;
    transition       : all 0.3s ease-in-out;
    transition-delay : 0.2s;
}

.label-list li {
    display       : block;
    height        : 30px;
    font-size     : 20px;
    transition    : all .3s ease-in-out;
    border-bottom : 1px solid #ffe13e;
}

.label-list li:hover {
    padding-left : 10px;
    background   : #ffe13e;
}

label[for=domain-name]:hover + .label-list, .label-list:hover {
    height     : 120px;
    padding    : 10px;
    border-top : 1px solid #c2ab2e;
}

.pathway {
    position: relative;
    height:653px;
}

.pathway:before {
    content: '';
    display : block;
    position : absolute;
    top: 0;
    left: 0;
    height: 653px;
    width: 50%;
    background: #202242;
    z-index : -1;
}
.pathway:after {
    content: '';
    display : block;
    position : absolute;
    top: 0;
    left: 50%;
    height: 653px;
    width: 50%;
    background: #ffe13e;
    z-index : -1;
}

.domain-name:focus  {
    outline:none;
    border: 0;
}

.web-Host, .domain {
    color: #fff;
    float: left;
}

.pathway-content {
    height: 653px;
    padding-top: 115px;
    padding-bottom: 105px;
}

.web-Host , .domain{
    height:433px;
    width: 582px;
    text-align: center;
    line-height: 1.8;
}

.domain h3, .web-Host h3 {
    margin-bottom: 30px;
}

.web-img{
    width: 169px;
    height: 169px;
    margin: 0 auto 35px;
}

.domain-img {
    width: 296px;
    height: 73px;
    margin: 65px auto;
}
.more-btn {
    width: 155px;
    height: 56px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 56px;
    margin: 30px auto 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position : relative;
    overflow: hidden;
}

.more-btn:after {
    content: '';
    display : block;
    position : absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    transition: all .3s ease;
}

.more-btn:hover:after {
    transform: scale(30);
}

.features {
    height:702px;
    background: #fbf8f1;
    position : relative;
}
.features:before {
    content: '';
    display : block;
    position : absolute;
    top: 0;
    left: 27%;
    background : url("../images/web/features-bg.png");
    width: 750px;
    height: 700px;
    background-position-x: -100px;
}
.features-content {
    height: 702px;
    padding-top: 96px;
}

.features-content h2, .features-content h4 {
    text-align: center;
}

.features-content h2 {
    font-size: 40px;
    font-weight: bolder;
}

.features-content h4 {
    line-height : 50px;
    color: rgba(0,0,0,0.5);
}

.show-features li {
    width: 270px;
    height: 437px;
    float: left;
    margin-right: 30px;
    text-align:  center;
    padding-top: 220px;
    position : relative;
    transition:all 0.3s ease;
    z-index : 999;
}

.show-features li:last-of-type {
    margin-right: 0;
}
.show-features li:nth-of-type(1):before {
    background: url("../images/web/support.png") no-repeat;
}
.show-features li:nth-of-type(2):before {
    background: url("../images/web/cloud.png") no-repeat;
}
.show-features li:nth-of-type(3):before {
    background: url("../images/web/db.png") no-repeat;
}
.show-features li:nth-of-type(4):before {
    background: url("../images/web/monitoring.png") no-repeat;
}
.show-features li h3 {
    color: #ffe13e;
    margin-bottom:  30px;
    font-size: 30px;
}

.show-features li:after {
    content: '';
    display : block;
    position : absolute;
    width: 70px;
    height: 2px;
    background: #8d8d99;
    top: 162px;
    left: 100px;
    z-index : 1;
}

.show-features li:before {
    content: "";
    display : block;
    position : absolute;
    top: 0;
    left: 71px;
    background: url("../images/web/support.png");
    width: 128px;
    height: 128px;
}
.show-features li:hover {
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2), -3px -2px 10px rgba(0,0,0,0.2);
    transform: scale(1.2);
    background:#fff;
}
.testimonial {
    height: 583px;
}

.client-content {
    height: 50%;
    padding: 85px 0 80px;
}

.client-article {
    width: 350px;
    float: left;
}

.client-logo {
    display : block;
    padding-top: 10px;
    float: left;
}
.client-logo li {
    float: left;
    margin-left: 30px;
    transition:all 0.3s ease;
}

.client-article h2 {
    line-height :2.3;
}

.client-article p {
    line-height:  1.6;
}

.people li {
    float: left;
    margin-left: 30px;
    background: #faf9f9;
    transition: all 0.3s ease;
    height: 177px;
}

.people li:first-of-type {
    margin-left: 0;
}

.people-img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 240px;
    border-radius: 50%;
    transition: all 0.3s ease;
    overflow: hidden;
}

.people li:hover {
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2), -2px -3px 10px rgba(0,0,0,0.2);
}

.people li  p {
    line-height: 1.5;
}

.people li h4 {
    margin-top: 24px;
    margin-left:27px;
}
.client-logo li {
    overflow: hidden;
}
.client-logo li a  img {
    transition: all .3s ease;
}
.client-logo li:hover a  img {
    transform: scale(1.2);
}

footer {
    height: 926px;
}

.plans-pricing {
    height: 270px;
    background: #202242;
}

.footer-map {
    height: 656px;
    background: #363855;
}

.footer-map-content {
    background: url("../images/web/map.png") no-repeat;
    height: 100%;
    background-position-y: 95px;
    position : relative;
}
.footer-map-content {
    padding-top: 95px;
}
.footer-map-content h3 {
    text-align: right;
    color: #fff;
    font-size: 30px;
}

.footer-nav {
    width: 70px;
    position: relative;
    left: 1100px;
    color: #fff;
    margin-top: 25px;
}

.footer-nav li {
    padding: 10px 0;
    text-align: right;
    border-bottom: 1px solid #565870;
    width: 70px;
    transition: all .3s ease;
}

.footer-nav li a {
    color: #fff;
    font-size: 20px;
}

.footer-nav li:hover {
    border-bottom-color : #fff;
}

.footer-share-img {
    width: 89px;
    height: 18px;
    position: relative;
    left: 1100px;
    margin-top: 34px;
}

.to-top {
    width: 90px;
    position: relative;
    left: 1100px;
    top: 68px;
    text-align:  center;
    cursor: pointer;
    padding: 10px;
    transition:  outline .3s ease;
    z-index : 3;
}

.to-top span {
    font-size: 10px;
    color: #fff;
}
.to-top:hover {
    outline: 1px solid #fff;
}

.map-signboard {
    height: 57px;
    width: 270px;
    background: url("../images/web/map-img.png") no-repeat;
    padding: 5px 0 5px 50px;
    position: absolute;
    top: 325px;
    left: 617px;
    color: #fff;
}
.copyright {
    height: 174px;
    position : absolute;
    bottom : 0;
    z-index : 1;
    padding: 40px 0
}
.copyright-img {
    width: 30px;
    height: 31px;
    margin: 0 auto;
}

.copyright-content span {
    color:#fff;
}

.copyright-content {
    margin: 20px auto;
    text-align: center;
    line-height:10px;
    cursor:pointer;
}

.copyright-content:after {
    content : '';
    display : block;
    width: 0;
    height: 2px;
    background: #fff;
    position : relative;
    margin: 0 auto;
    top: 20px;
    transition: width .3s ease;
}

.copyright-content:hover:after {
    width: 300px;
}

.plan-content  h3 {
    color:#fff;
}

.plan-content p {
    color:#32344f;
}

.plan-container {
    padding: 80px 100px;
}

.plan-3d {
    display: block;
    width: 230px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-size:18px;
    float: left;
    margin-left: 50px;
    position : relative;
    color: #000;
    cursor: pointer;
    transition: all .5s ease;
    transform-style: preserve-3d;
}
.plan-content {
    width: 630px;
    height: 50px;
    float:left;
}
.three-3d-box {
    position: absolute;
    top: 0;
    left: 6px;
    width: 224px;
    height: 78px;
    transition: all .5s ease;
    transform-style: preserve-3d;
}
.front, .back
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 224px;
    height: 78px;
    text-align: center;
    line-height: 78px;
    background:#ffe13e;
}

.front
{
    transform: translateZ(39px);
}

.back
{
    transform: translateY(39px)  rotateX(-90deg);
    color: #fff;
}

.plan-3d:hover .three-3d-box {
    transform: rotateX(90deg);
}


.plan-3d:after {
    opacity: 0;
    content: '';
    display : block;
    position : absolute;
    top: -78px;
    left: 0;
    width: 6px;
    height: 78px;
    background: rgba(88,194,136,1);
    z-index : 999;
    transform: translateZ(40px);
    transition: all .3s ease;
    transition-delay: 0.5s;
}

.plan-3d:hover:after {
    top: 0;
    opacity: 1;
}
